{% extends 'base.html' %}
{% load static %}

{% block body %}
{% if user.is_authenticated %}
<h1>Welcome to our Website, {{user.first_name}}!</h1>
{% endif %}
<section class="section-intro padding-y-sm">
<div class="container">

<div class="intro-banner-wrap">
	<img src="{% static 'images/banners/2.jpg' %}" class="img-fluid rounded">
</div>
<h1></h1>
</div> <!-- container //  -->
</section>
<!-- ========================= SECTION MAIN END// ========================= -->

<!-- ========================= SECTION  ========================= -->



</div><!-- container // -->
</section>

{% endblock %}